= form_for @video, html: {multipart: true} do |f|
  - if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title

  .field
    = f.label :file
    = f.file_field :video
    = f.hidden_field :video_cache
  .actions
    = f.submit 'Save'
